@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


*{
    box-sizing:border-box;
    padding:0;
    background-color: rgb(17, 17, 17);
    font-family: 'Roboto Mono', monospace;
    color: rgb(224,235,252);
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    padding:0;
    margin:0;
}

.box {
    padding: 5px;
    color: rgb(224,235,252);
    text-align: center;
    margin-top:50px;
}

.centerimg {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom:0;
}

/* .show{
    opacity: 0;
}

@keyframes mNote{
    0%{opacity:0;}
    50%{opacity:1;}
    100%{opacity:0;}
}

#note{
    animation-name: mNote;
    animation-duration: 2s;
} */


footer {
    font-size:10px;
    margin-top:70px;
    text-align: center;
}

footer a{
    color: rgb(107,221,221);
}

footer a:hover{
    color: rgb(249,207,207);
}